lab 04
jahnvi siani
2k18CSUN01021

In [2]:
tup1=23,46,"False",495,True
print(tup1)
print(type(tup1))

(23, 46, 'False', 495, True)
<class 'tuple'>

In [1]:
tup1=23,46,495,
print(tup1)

(23, 46, 495)

In [2]:
tup1=23,46,49
print(tup1[2])

49

In [4]:
tup1=23,46,"False",495,True
print(tup1[-1])

True

In [6]:
tup1=23,46,"False",495,True,"apple"
print(tup1[2:5])

('False', 495, True)

In [8]:
tup1=23,46,"False",495,True,"apple","mango"
print(tup1[-4:-1])

(495, True, 'apple')

In [9]:
tup1=23,46,"False",495,True,"apple","mango"
y=list(tup1)
y[1]="kiwi"
tup1=tuple(y)
print(tup1)

(23, 'kiwi', 'False', 495, True, 'apple', 'mango')

In [10]:
tup1=23,46,"False",495,True,"apple","mango"
tup1[1]="kiwi"
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [11]:
tup1=23,46,"False",495,True,"apple","mango"
for x in tup1:
    print(tup1)

(23, 46, 'False', 495, True, 'apple', 'mango')
(23, 46, 'False', 495, True, 'apple', 'mango')
(23, 46, 'False', 495, True, 'apple', 'mango')
(23, 46, 'False', 495, True, 'apple', 'mango')
(23, 46, 'False', 495, True, 'apple', 'mango')
(23, 46, 'False', 495, True, 'apple', 'mango')
(23, 46, 'False', 495, True, 'apple', 'mango')

In [12]:
tup1=23,46,"False",495,True,"apple","mango"
if "apple" in tup1:
    print("element present")

element present

In [13]:
tup1=23,46,"False",495,True,"apple","mango"
print(len(tup1))

7

In [14]:
tup1=(1110)
print(tup1)

1110

In [18]:
tup1=1110, 
print(tup1)

(1110,)

In [17]:
tup1=1110
print(tup1)
del tup1
print(tup1)

1110

NameError: name 'tup1' is not defined

In [19]:
x=(2,4,6)
y=(3,5,7)
z=x+y
print(z)

(2, 4, 6, 3, 5, 7)

In [20]:
ve=(11,10,21,9,12,3,30,4,17)
print(ve.count(12))

1

In [3]:
ve=(11,10,21,9,12,3,30,4,17)
print(ve.count(12))
print(ve.index(12))

1
4

In [22]:
tup1=23,46,12,3,11,10
print(tup1[2])

12

In [23]:
tup1=12,3,11,10
x=print(tup1[0])
y=print(tup1[1])
z=print(tup1[2])
v=print(tup1[3])

12
3
11
10

In [28]:
tup1=1110,1203,3004,2109,99
x=tup1[0:2]
y=tup1[3:5]

print(x+y)

(1110, 1203, 2109, 99)

In [33]:
from copy import deepcopy
t1=(True,'hello',5,[])
print(t1)

t2=deepcopy(t1)
t2[3].append(50)
print(t2)
print(t1)

(True, 'hello', 5, [])
(True, 'hello', 5, [50])
(True, 'hello', 5, [])

In [36]:
import copy
t1=(True,'hello',5,[])
print(t1)

t2=copy.copy(t1)
t2[3].append(50)
print(t2)
print(t1)

(True, 'hello', 5, [])
(True, 'hello', 5, [50])
(True, 'hello', 5, [50])

In [42]:
from copy import deepcopy
t1=(True,'hello',5,[7,5])
print(t1)

t2=deepcopy(t1)
t2[3][0]=2
print(t2)
print(t1)

(True, 'hello', 5, [7, 5])
(True, 'hello', 5, [2, 5])
(True, 'hello', 5, [7, 5])

In [4]:
list1=[34,67,4,89]
print(tuple(list1))

(34, 67, 4, 89)

In [5]:
tuple1=('h','e','y','y')
print(''.join(tuple1))

heyy

In [8]:
tup=(3,"false",True,'j')
(integer,string,boolean,character)=tup
print(integer)
print(string)
print(character)
print(boolean)

3
false
j
True